*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI,sans-serif;
}

.login-bg{
  min-height:100vh;
  background:#f3f6f4;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:40px;
}

.login-card{
  width:600px;
  background:white;
  padding:40px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.portal-text{
  color:#d35400;
  font-size:12px;
  font-weight:bold;
  letter-spacing:2px;
  margin-bottom:15px;
}

.login-card h1{
  font-size:55px;
  margin-bottom:10px;
  color:#111827;
}

.subtitle{
  color:#6b7280;
  margin-bottom:30px;
  font-size:18px;
}

.role-switch{
  display:flex;
  background:#eef2ee;
  border-radius:14px;
  padding:6px;
  margin-bottom:30px;
}

.role-switch button{
  flex:1;
  border:none;
  background:transparent;
  padding:16px;
  font-size:20px;
  cursor:pointer;
  border-radius:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
}

.role-switch .active{
  background:#0f766e;
  color:white;
}

label{
  display:block;
  margin-bottom:10px;
  margin-top:15px;
  font-weight:600;
}

.input-box{
  display:flex;
  align-items:center;
  border:1px solid #d1d5db;
  border-radius:12px;
  padding:16px;
  margin-bottom:20px;
  background:white;
}

.input-box input{
  flex:1;
  border:none;
  outline:none;
  padding-left:10px;
  font-size:18px;
  background:transparent;
  color:#111827;
}

.input-box input::placeholder{
  color:#9ca3af;
}

.options{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:20px 0;
}

.options a{
  text-decoration:none;
  color:#0f766e;
  font-weight:600;
}

.login-btn{
  width:100%;
  background:#0f766e;
  color:white;
  border:none;
  padding:18px;
  border-radius:14px;
  font-size:22px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.login-btn:hover{
  background:#115e59;
}

.footer-text{
  text-align:center;
  margin-top:25px;
  color:#555;
}

.footer-text a{
  color:#0f766e;
  text-decoration:none;
  font-weight:bold;
}

/* Eye Icon */

.eye-icon{
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#555;
}

.eye-icon:hover{
  color:#0f766e;
}
.error-text{
  color:#dc2626;
  font-size:14px;
  font-weight:600;
  margin-top:-10px;
  margin-bottom:12px;
  padding-left:5px;
}

.eye-icon{
  cursor:pointer;
  color:#666;
  display:flex;
  align-items:center;
}

.eye-icon:hover{
  color:#0f766e;
}